<%= form_with(model: content, local: true) do |form| %>
  <%= javascript_pack_tag 'content_editor' %>

  <% if content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(content.errors.count, "error") %> prohibited this content from being saved:</h2>

      <ul>
        <% content.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= react_component('ContentEditor', { data: content.body,
        contentParts: [
            {
                id: 1,
                name: 'Question',
                image: 'product1.jpg'
            },
            {
                id: 2,
                name: 'Answer',
                image: 'product2.jpg'
            },
            {
                id: 3,
                name: 'Heading',
                image: 'product3.jpg'
            },
        ]
                    }) %>
  </div>

  <div class="field">
    <%= form.label :content_type %>
    <%= form.text_field :content_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
