<%= form_with(model: course_content, local: true) do |form| %>
  <%= javascript_pack_tag 'content_editor' %>

  <% if course_content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course_content.errors.count, "error") %> prohibited this course_content from being saved:</h2>

      <ul>
        <% course_content.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= react_component('ContentEditor', { data: course_content.body,
        contentParts: [
            {
                id: 1,
                name: 'Question',
                image: 'product1.jpg'
            },
            {
                id: 2,
                name: 'Answer',
                image: 'product2.jpg'
            },
            {
                id: 3,
                name: 'Heading',
                image: 'product3.jpg'
            },
        ]
                    }) %>
  </div>

  <div class="field">
    <%= form.label :content_type %>
    <%= form.text_field :content_type %>
  </div>

  <div class="field">
    <%= form.label :course_id %>
    <%= form.number_field :course_id %>
  </div>

  <div class="field">
    <%= form.label :secondary_id %>
    <%= form.text_field :secondary_id %>
  </div>

  <div class="field">
    <%= form.label :course_name %>
    <%= form.text_field :course_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
