<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @course_content.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @course_content.body %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @course_content.published_at %>
</p>

<p>
  <strong>Type:</strong>
  <%= @course_content.content_type %>
</p>

<%= link_to 'Edit', edit_course_content_path(@course_content) %> |
<%= link_to 'Back', course_contents_path %>
