<% content_for(:headline) do %>
  Industries
<% end %>

<% content_for(:headline_buttons) do %>
  <%= link_to 'New', new_industry_path, class: 'btn btn-sm btn-outline-secondary' %>
  <%= link_to 'JSON', industries_path(format: 'json'), class: 'btn btn-sm btn-secondary', target: '_blank' %>
<% end %>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-6">
    <table class="table table-sm table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @industries.each do |industry| %>
          <tr>
            <td><%= industry.name %></td>
            <td class="text-right smaller">
              <%= link_to 'Edit', edit_industry_path(industry) %> |
              <%= link_to 'Delete', industry, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
