<%= form_with(model: major, local: true) do |form| %>
  <% if major.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(major.errors.count, "error") %> prohibited this major from being saved:</h2>

      <ul>
      <% major.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :parent_id, 'Parent' %>
        <%= form.collection_select :parent_id, (Major.all - [major]), :id, :name, {include_blank: 'None'}, class: 'form-control' %>
      </div>

      <div class="actions">
        <%= form.submit class: 'btn btn-primary' %>
        <%= link_to 'Cancel', majors_path, class: 'btn btn-secondary'%>
      </div>
    </div>
  </div>
<% end %>
