<% content_for(:headline) do %>
  Majors
<% end %>

<% content_for(:headline_buttons) do %>
  <%= link_to 'New', new_major_path, class: 'btn btn-sm btn-outline-secondary' %>
<% end %>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-8">
    <table class="table table-sm table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @majors.each do |major| %>
          <tr>
            <td><%= major.name %></td>
            <td class="text-right">
              <%= link_to 'Edit', edit_major_path(major) %> |
              <%= link_to 'Delete', major, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
          
          <% major.children.each do |child| %>
          <tr>
            <td>
              <span data-feather="minus"></span>
              <%= child.name %>
            </td>
            <td class="text-right">
              <%= link_to 'Edit', edit_major_path(child) %> |
              <%= link_to 'Delete', child, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
