<% content_for(:headline) do %>
  Postal Codes
<% end %>

<% content_for(:headline_buttons) do %>
  <%= link_to 'JSON', postal_codes_path(format: 'json'), class: 'btn btn-sm btn-secondary', target: '_blank' %>
<% end %>

<%= failure notice %>

<div class="row">
  <div class="col-sm-6">
    <h4>Find Info about a Zip Code:</h4>
    
    <%= form_tag search_postal_codes_path, class: 'form-inline' do %>
      <%= number_field_tag :code, nil, placeholder: 'postal code lookup', class: 'form-control mr-2' %>
      
      <%= submit_tag 'find', class: 'btn btn-primary' %>
    <% end %>
  </div>

  <div class="col-sm-6">
    <h4>Find Distance Between Zip Codes:</h4>
    
    <%= form_tag distance_postal_codes_path, method: :get, class: 'form-inline' do %>
      <%= number_field_tag :from, nil, placeholder: 'from', class: 'form-control mr-2' %>
      <%= number_field_tag :to,   nil, placeholder: 'to',   class: 'form-control mr-2' %>
      
      <%= submit_tag 'find', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
