<% content_for(:headline) do %>
  Locations
<% end %>

<% content_for(:headline_buttons) do %>
  <%= link_to 'JSON', locations_path(format: 'json'), class: 'btn btn-sm btn-secondary', target: '_blank' %>
<% end %>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-6">
    <table class="table table-sm table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Parents</th>
        </tr>
      </thead>

      <tbody>
        <% @locations.each do |location| %>
          <tr>
            <td><%= link_to location.name, location_path(location) %></td>
            <td><%= location.parent_names.join(', ') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <div class="apple_pagination"><%= will_paginate @locations %></div>
  </div>
</div>
