<!DOCTYPE html>
<html>
  <head>
    <title>Braven Platform</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="shortcut icon" href="https://bebraven.org/wp-content/themes/bebraven/favicon.ico">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'platform' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
